/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #1acc8d;
    text-decoration: none;
}

a:hover {
    color: #34e5a6;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    max-height: 100vh;
    padding: 40px 0;
    overflow: hidden;
}

.section-title {
    padding-bottom: 10px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #696969;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #1acc8d;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #010483;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.team {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/footer-bg.jpg") fixed center center;
    background-size: cover;
    width: 100%;
}

.team .member {
    margin: 1rem;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}

.team .member .pic {
    border-radius: 4px;
    overflow: hidden;
}

.team .member img {
    transition: all ease-in-out 0.4s;
}

.team .member:hover img {
    transform: scale(1.1);
}

.team .member .member-info {
    position: absolute;
    bottom: -80px;
    left: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}

.team .member h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    color: #01036f;
    position: relative;
    padding-bottom: 10px;
}

.team .member h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #0d12fc;
    bottom: 0;
    left: calc(50% - 25px);
}

.team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #01036f;
}

.team .member .social {
    margin-top: 10px;
}

.team .member .social a {
    transition: color 0.3s;
    color: #01036f;
}

.team .member .social a:hover {
    color: #1acc8d;
}

.team .member .social i {
    font-size: 16px;
    margin: 0 2px;
}

/*--------------------------------------------------------------
# Team - Add Member Form
--------------------------------------------------------------*/

.dropdown .my-btn{
    background-color: #01036f!important;
    border-color: #1acc8d;
}

.dropdown .dropdown-menu{
    font-weight: bold;
    min-height: 300px;

    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
}